<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">
    <xacro:link link_name="khau_1"
                x1="-6.75853e-20" y1="-3.95268e-20" z1="-0.186482" roll1="0" pitch1="0" yaw1="0"
                mass="1.23111"
                ixx="0.0507892" ixy="0" ixz="0" iyy="0.0507892" iyz="0" izz="0.00254127"
                r="1.0" g="1.0" b="1.0" a="1.0"
                x2="0" y2="3.33585e-18" z2="0" roll2="3.14159" pitch2="0" yaw2="0"/>
    
    <xacro:gazebo reference="khau_1" material="Gazebo/White" mu1="0.2" mu2="0.2"/>

    <xacro:joint joint_name="khau_1_joint" type="fixed"
                 x1="0.0649366" y1="4.67039e-17" z1="0.138132" roll1="3.14159" pitch1="0" yaw1="0"
                 parent_link="than_xe"
                 child_link="khau_1"/>

    <xacro:link link_name="khop"
                x1="7.65413e-19" y1="1.03965e-19" z1="-0.015" roll1="0" pitch1="0" yaw1="0"
                mass="0.485965"
                ixx="0.000545572" ixy="7.21303e-49" ixz="0" iyy="0.000545572" iyz="0" izz="0.00101825"
                r="0.13" g="0.44" b="0.70" a="1.0"
                x2="0" y2="-3.9801e-18" z2="-0.03" roll2="0" pitch2="0" yaw2="1.3617e-45"/>

    <xacro:gazebo reference="khop" material="Gazebo/SkyBlue" mu1="0.2" mu2="0.2"/>

    <xacro:joint joint_name="khop_joint" type="prismatic"
                 x1="0" y1="2.80737e-25" z1="-0.210059" roll1="-3.14159" pitch1="6.59901e-17" yaw1="-1.96037e-29"
                 parent_link="khau_1"
                 child_link="khop"
                 x2="0" y2="0" z2="1" effort="10" velocity="10" lower="-0.135059" upper="0.234941"/>

    <xacro:link link_name="khau_2"
                x1="0.228819" y1="-6.22477e-10" z1="-0.0150176" roll1="0" pitch1="0" yaw1="0"
                mass="1.61532"
                ixx="0.0023024" ixy="-2.36835e-10" ixz="-6.71781e-06" iyy="0.0271882" iyz="1.68742e-11" izz="0.0288969"
                r="1.0" g="1.0" b="1.0" a="1.0"
                x2="0" y2="-3.90313e-18" z2="-0.03" roll2="-5.99742e-33" pitch2="-6.51514e-33" yaw2="-3.10412e-18"/>

    <xacro:gazebo reference="khau_2" material="Gazebo/White" mu1="0.2" mu2="0.2"/>

    <xacro:joint joint_name="khau_2_joint" type="revolute"
                 x1="0" y1="8.97939e-27" z1="0" roll1="-9.25178e-17" pitch1="2.59191e-16" yaw1="-3.12038"
                 parent_link="khop"
                 child_link="khau_2"
                 x2="0" y2="0" z2="1" effort="10" velocity="10" lower="-${PI}" upper="${PI}"/>

    <plugin name="arm_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/</robotNamespace>
    </plugin>

    <xacro:arm_transmission joint_name="khop_joint" actuator_name="lower_motor"/>
    <xacro:arm_transmission joint_name="khau_2_joint" actuator_name="upper_motor"/>
</robot>