<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="base_controller">
    <xacro:link link_name="banh_xe_1"
                x1="-7.10237e-18" y1="3.24461e-17" z1="0.00430301" roll1="0" pitch1="0" yaw1="0"
                mass="0.522006"
                ixx="0.00049418" ixy="1.06373e-20" ixz="1.06547e-45" iyy="0.00049418" iyz="2.78846e-46" izz="0.000673955"
                r="0.3" g="0.3" b="0.3" a="1.0"
                x2="-6.93889e-18" y2="2.77556e-17" z2="-0.025" roll2="-1.5708" pitch2="-3.64847e-42" yaw2="2.45344e-17"/>

    <gazebo reference="banh_xe_1">
        <material>Gazebo/Gray</material>
    </gazebo>

    <xacro:joint joint_name="than_xe_banh_1" type="revolute"
                 x1="-0.127563" y1="0.14" z1="0.0641321" roll1="-1.5708" pitch1="1.42583" yaw1="3.14159"
                 parent_link="than_xe"
                 child_link="banh_xe_1"
                 x2="0" y2="0" z2="1"
                 effort="10" velocity="10" lower="-${PI}" upper="${PI}"/>

    <xacro:link link_name="banh_xe_2"
                x1="-1.63473e-19" y1="-9.18731e-18" z1="0.00430301" roll1="0" pitch1="0" yaw1="0"
                mass="0.522006"
                ixx="0.00049418" ixy="2.78829e-20" ixz="9.04058e-46" iyy="0.00049418" iyz="-1.39449e-45" izz="0.000673955"
                r="0.3" g="0.3" b="0.3" a="1.0"
                x2="0" y2="-1.38778e-17" z2="-0.025" roll2="-1.5708" pitch2="-1.90898e-42" yaw2="4.22367e-17"/>
    
    <gazebo reference="banh_xe_2">
        <material>Gazebo/Gray</material>
    </gazebo>

    <xacro:joint joint_name="than_xe_banh_2" type="revolute"
                 x1="0.132437" y1="0.14" z1="0.0641321" roll1="-1.5708" pitch1="1.05145" yaw1="3.14159"
                 parent_link="than_xe"
                 child_link="banh_xe_2"
                 x2="0" y2="0" z2="1"
                 effort="10" velocity="10" lower="-${PI}" upper="${PI}"/>

    <xacro:link link_name="banh_xe_3"
                x1="-1.63473e-19" y1="8.15992e-18" z1="0.00430301" roll1="0" pitch1="0" yaw1="0"
                mass="0.522006"
                ixx="0.00049418" ixy="-1.19623e-20" ixz="0" iyy="0.00049418" iyz="0" izz="0.000673955"
                r="0.3" g="0.3" b="0.3" a="1.0"
                x2="0" y2="3.46945e-18" z2="-0.025" roll2="-1.5708" pitch2="0" yaw2="-1.73484e-17"/>
    
    <gazebo reference="banh_xe_3">
        <material>Gazebo/Gray</material>
    </gazebo>

    <xacro:joint joint_name="than_xe_banh_3" type="revolute"
                 x1="-0.127563" y1="-0.14" z1="0.0641321" roll1="-1.5708" pitch1="0.295982" yaw1="0"
                 parent_link="than_xe"
                 child_link="banh_xe_3"
                 x2="0" y2="0" z2="1"
                 effort="10" velocity="10" lower="-${PI}" upper="${PI}"/>

    <xacro:link link_name="banh_xe_4"
                x1="2.75921e-17" y1="4.69047e-18" z1="0.00430301" roll1="0" pitch1="0" yaw1="0"
                mass="0.522006"
                ixx="0.00049418" ixy="-2.65184e-22" ixz="-1.21181e-46" iyy="0.00049418" iyz="1.33579e-45" izz="0.000673955"
                r="0.3" g="0.3" b="0.3" a="1.0"
                x2="2.77556e-17" y2="0" z2="-0.025" roll2="-1.5708" pitch2="7.68415e-43" yaw2="1.4056e-18"/>
    
    <gazebo reference="banh_xe_4">
        <material>Gazebo/Gray</material>
    </gazebo>

    <xacro:joint joint_name="than_xe_banh_4" type="revolute"
                 x1="0.132437" y1="-0.14" z1="0.0641321" roll1="1.5708" pitch1="0.033338" yaw1="3.14159"
                 parent_link="than_xe"
                 child_link="banh_xe_4"
                 x2="0" y2="0" z2="1"
                 effort="10" velocity="10" lower="-${PI}" upper="${PI}"/>

    <xacro:link link_name="xich_1"
                x1="3.10096e-16" y1="-4.79297e-17" z1="-0.03" roll1="0" pitch1="0" yaw1="0"
                mass="2.81002"
                ixx="0.00760602" ixy="1.11093e-06" ixz="0" iyy="0.0406757" iyz="0" izz="0.0465957"
                r="0.1" g="0.1" b="0.1" a="1.0"
                x2="3.40439e-16" y2="-5.55112e-17" z2="0" roll2="1.5708" pitch2="0" yaw2="0"/>
    
    <gazebo reference="xich_1">
        <material>Gazebo/FlatBlack</material>
    </gazebo>

    <xacro:joint joint_name="than_xe_xich_1" type="fixed"
                 x1="0.0025" y1="-0.105" z1="0.064" roll1="-1.5708" pitch1="1.82546e-16" yaw1="0"
                 parent_link="than_xe"
                 child_link="xich_1"/>

    <xacro:link link_name="xich_2"
                x1="-0.0432788" y1="-0.055" z1="-0.03" roll1="0" pitch1="0" yaw1="0"
                mass="2.81002"
                ixx="0.00760602" ixy="-1.11093e-06" ixz="0" iyy="0.0406757" iyz="0" izz="0.0465957"
                r="0.1" g="0.1" b="0.1" a="1.0"
                x2="-0.0432788" y2="-0.055" z2="-0.06" roll2="-1.5708" pitch2="0" yaw2="0"/>
    
    <gazebo reference="xich_2">
        <material>Gazebo/FlatBlack</material>
    </gazebo>

    <xacro:joint joint_name="than_xe_xich_2" type="fixed"
                 x1="-0.0406" y1="0.105" z1="0.0091" roll1="-1.5708" pitch1="0" yaw1="3.14159"
                 parent_link="than_xe"
                 child_link="xich_2"/>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>xe_tang</robotNamespace>
        </plugin>
    </gazebo>

    <transmission name="tran_left_wheel">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="than_xe_banh_4">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_wheel_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="tran_right_wheel">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="than_xe_banh_2">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_wheel_motor">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>
</robot>