<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="base_controller">
    <gazebo>
        <plugin name="base_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
        </plugin>
    </gazebo>

    <xacro:base_transmission joint_name="banh_xe_4_joint" actuator_name="left_wheel_motor"/>
    <xacro:base_transmission joint_name="banh_xe_3_joint" actuator_name="left_wheel_motor"/>
    <xacro:base_transmission joint_name="banh_xe_2_joint" actuator_name="right_wheel_motor"/>
    <xacro:base_transmission joint_name="banh_xe_1_joint" actuator_name="left_wheel_motor"/>
</robot>