<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">
    <xacro:link link_name="camera"
                x1="-1.08316e-18" y1="-0.000645903" z1="-0.00126913" roll1="0" pitch1="0" yaw1="0"
                mass="0.00147364"
                ixx="7.56624e-08" ixy="0" ixz="0" iyy="7.05662e-08" iyz="-2.12341e-09" izz="1.43344e-07"
                x2="0" y2="0" z2="0" roll2="3.14159" pitch2="0" yaw2="0"/>

    <gazebo reference="camera">
        <material>Gazebo/Green</material>
    </gazebo>

    <xacro:joint joint_name="than_xe_camera" type="fixed"
                 x1="-0.0869023" y1="0.0727514" z1="0.204141" roll1="-1.5708" pitch1="0" yaw1="1.5708"
                 parent_link="than_xe"
                 child_link="camera"
                 x2="0" y2="0" z2="1"/>
</robot>