<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">
	<gazebo>
    	<plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
      		<leftJoint>than_xe_banh_1</leftJoint>
      		<rightJoint>than_xe_banh_2</rightJoint>
      		<wheelSeparation>0.35</wheelSeparation>
      		<wheelDiameter>0.1</wheelDiameter>
      		<maxWheelTorque>200</maxWheelTorque>
      		<maxWheelAcceleration>10.0</maxWheelAcceleration>
      		<commandTopic>cmd_vel</commandTopic>
			<odometryTopic>odom</odometryTopic>
			<odometryFrame>odom</odometryFrame>
			<robotBaseFrame>than_xe</robotBaseFrame>
			<publishTf>true</publishTf>
      		<publishOdomTF>true</publishOdomTF>
      		<publishWheelTF>true</publishWheelTF>
			<rosDebugLevel>INFO</rosDebugLevel>
			<publishWheelJointState>true</publishWheelJointState>
			<wheelAcceleration>1.0</wheelAcceleration>
			<wheelTorque>10</wheelTorque>
			<updateRate>100</updateRate>
			<odometrySource>encoder</odometrySource>
    	</plugin>
  	</gazebo>
</robot>