<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar">
    <xacro:link link_name="lidar"
                x1="0.00218942" y1="-6.24511e-05" z1="-0.0123115" roll1="0" pitch1="0" yaw1="0"
                mass="0.0941187"
                ixx="3.50951e-05" ixy="-1.59755e-07" ixz="5.54001e-07" iyy="2.9499e-05" iyz="-1.58024e-08" izz="5.46193e-05"
                r="0" g="0" b="0" a="1.0"
                x2="-1.249e-16" y2="2.23093e-17" z2="0" roll2="3.14159" pitch2="0" yaw2="-0.0285163"/>
    
    <gazebo reference="lidar">
        <material>Gazebo/Black</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        
        <sensor name="laser" type="ray">
            <visualize>true</visualize>
            <update_rate>30</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>0</min_angle>
                        <max_angle>6.28319</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.12</min>
                    <max>10</max>
                    <resolution>0.015</resolution>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_laser.so">
                <topicName>scan</topicName>
                <frameName>lidar</frameName>
                <gaussianNoise>0.01</gaussianNoise>
            </plugin>
        </sensor>
    </gazebo>

    <xacro:joint joint_name="lidar_joint" type="revolute"
                 x1="-0.0675634" y1="4.37765e-17" z1="0.138132" roll1="3.14159" pitch1="0" yaw1="0"
                 parent_link="than_xe"
                 child_link="lidar"
                 x2="0" y2="0" z2="1" effort="10" velocity="10" lower="-1.54228" upper="1.59931"/>
</robot>