<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">
    <xacro:link link_name="khau_1"
                x1="-1.96426e-19" y1="-3.3125e-18" z1="-0.186482" roll1="0" pitch1="0" yaw1="0"
                mass="1.23111"
                ixx="0.0507892" ixy="0" ixz="0" iyy="0.0507892" iyz="0" izz="0.00254127"
                r="1.0" g="1.0" b="1.0" a="1.0"
                x2="0" y2="0" z2="0" roll2="3.14159" pitch2="0" yaw2="0"/>
    
    <gazebo reference="khau_1">
        <material>Gazebo/White</material>
    </gazebo>

    <xacro:joint joint_name="than_xe_khau_1" type="fixed"
                 x1="-0.173402" y1="0.0727514" z1="0.243141" roll1="3.14159" pitch1="0" yaw1="0"
                 parent_link="than_xe"
                 child_link="khau_1"
                 x2="0" y2="0" z2="1"/>

    <xacro:link link_name="khop"
                x1="7.82984e-19" y1="4.06082e-18" z1="-0.015" roll1="0" pitch1="0" yaw1="0"
                mass="0.485965"
                ixx="0.000545572" ixy="0" ixz="0" iyy="0.000545572" iyz="0" izz="0.00101825"
                r="0.13" g="0.44" b="0.70" a="1.0"
                x2="0" y2="0" z2="-0.03" roll2="0" pitch2="0" yaw2="0"/>
    
    <gazebo reference="khop">
        <material>Gazebo/SkyBlue</material>
    </gazebo>

    <xacro:joint joint_name="khau_1_khop" type="prismatic"
                 x1="0" y1="0" z1="-0.187558" roll1="3.14159" pitch1="0" yaw1="-1.86886e-29"
                 parent_link="khau_1"
                 child_link="khop"
                 x2="0" y2="0" z2="1"
                 effort="10" velocity="10" lower="-0.112558" upper="0.257442"/>

    <xacro:link link_name="khau_2"
                x1="0.228819" y1="-6.22477e-10" z1="-0.0150176" roll1="0" pitch1="0" yaw1="0"
                mass="1.61532"
                ixx="0.0023024" ixy="-2.36835e-10" ixz="-6.71781e-06" iyy="0.0271882" iyz="1.68742e-11" izz="0.0288969"
                r="1.0" g="1.0" b="1.0" a="1.0"
                x2="0" y2="0" z2="-0.03" roll2="-1.81353e-41" pitch2="1.58254e-41" yaw2="6.17393e-18"/>
    
    <gazebo reference="khau_2">
        <material>Gazebo/White</material>
    </gazebo>

    <xacro:joint joint_name="khop_khau_2" type="revolute"
                 x1="-8.32667e-17" y1="5.55112e-17" z1="0" roll1="-1.81771e-25" pitch1="5.10563e-25" yaw1="-0.72926"
                 parent_link="khop"
                 child_link="khau_2"
                 x2="0" y2="0" z2="1"
                 effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
</robot>