<launch>
  <rosparam command="load" file="$(find xe_tang)/config/arm_controller.yaml" />
  <rosparam command="load" file="$(find xe_tang)/config/base_controller.yaml" />

  <param name="/use_sim_time" value="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find xe_tang)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(find xe_tang)/description/xe_tang.urdf.xacro" />

  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -model xe_tang -param robot_description" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find xe_tang)/config/xe_tang.rviz" required="true" />

  <node name="steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="arm/joint1_position_controller/cmd_vel" />
  </node>

  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="true" output="screen" ns="/arm"
        args="joint_state_controller
              joint1_position_controller
              joint2_position_controller" />

  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        respawn="true" output="screen"
        args="joint_state_controller
              diff_drive_controller" />
</launch>
