<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <param name="robot_description" command="$(find xacro)/xacro $(find xe_tang)/description/xe_tang.xacro"/>
  <node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -model xe_tang -param robot_description"/>
</launch>
